<!-- Location popup start-->
<div class="popup_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-center-block">
                <div class="popup_bg no-padd-fav">

                    <div class="row">

                        <div class="">
                            <p class="popup_favorite_msg">Chipin World<br/><br/>{{msg}}</p>
                            <div class="popup_favorite_btn_sec clearfix">
                                <div><a class="popup_favorite_btn" href ng-click="closeThisDialog();">OK</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location popup close-->
