
<section id="forget-sec">
    <div class="container inner">
        <div class="reg-process"> 
            <div class="row">
                <div class="col-md-12">
                    <form class="animated fadeInUp" role="form" name="forgetPassword" novalidate ng-submit="forgetPswd(fields)">
                        <h2 class="loginBox-title">Forget Password</h2> 
                        <div class="form-group">
                            <label for="username">User Name:</label> 
                            <input type="text" class="form-control" id="uname" name="uname"  placeholder="User Name" autocomplete="on" ng-model="fields.uname"  required autofocus/>
                            <span style="color:red" ng-show="uname.$dirty && uname.$invalid">
                                <span ng-show="uname.$error.required">Username is required.</span>
                            </span>
                        </div> 
                        
                        <!--<div class="form-group"><input type="submit" name="sign" class="btn btn-default" value="Sign In" ng-disabled="login.fields.username.$dirty && login.fields.username.$invalid ||  
                            login.fields.password.$dirty && login.fields.password.$invalid" >-->
                        <div class="form-group">
                            <div class="update_btn">
                                <a href="#/login" class="btn btn-sm btn-info" >Back</a> 
                                <button name="edit" type="submit" id="edit" class="btn btn-sm btn-info" value="submit" ng-disabled="forgetPassword.$invalid">Submit</button>      
                            </div>
                        </div>
                        <!--<div class="links-sec">
                            <a href="login.php?func=fgpwd" class="log-label1"> Forget Password? </a><br>
                            <a data-toggle="modal" href="#registerModal" class="log-label1"> Not a Member Yet? Join Now </a>
                        </div>-->
                    </form>
                </div>
            </div> 
        </div>
    </div>
</section>
